/* Navbar  */
body {
  background: #f7f7f9;
}
.navbar {
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84 px;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  width: 100%;
  border-bottom: 1 px solid #ecedf0;
  background: #fff;
}

.navbar img {
  width: 120px;
  height: 60px;
  position: absolute;
  left: 32px;
}

.navbar .chooseService {
  text-align: center;
}

.navbar .chooseService h4 {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #3d3d46;
}

.navbar .chooseService span {
  font-size: 16px;
  line-height: 20px;
  color: #737387;
}

/* Home Content  */

.homeContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 300px;
  margin-right: 300px;
}

.homeContent .options {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #f4f5f7;
  -webkit-box-shadow: 2px 2px 17px rgb(9 20 8.2%);
  box-shadow: 2px 2px 17px rgb(9 20 8.2%);
  border-radius: 4px;
  padding: 24px 20px;
}

.homeContent .options .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  height: 104px;
  margin: 10px;
  border: 1px solid #ecedf0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}

.homeContent .options .activeItem {
  border: 2px solid lightblue;
}

.homeContent .options .item:hover {
  border: 2px solid lightblue;
  cursor: pointer;
}

.homeContent .options .item span {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.685);
}

.homeContent .secondRow {
  display: flex;
  margin-top: 60px;
}

.homeContent .optionSelect {
  background-color: white;
  padding: 32px;
  width: 50%;
}

.homeContent .optionSelect .optItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.144);
  color: rgba(0, 0, 0, 0.753);
  border-radius: 3px;
  margin-bottom: 12px;
  padding: 12px;
}

.homeContent .optionSelect .activeOptItem {
  border: 1px solid #54b2d3;
  color: #54b2d3;
}

.homeContent .optionSelect .quantity {
  color: #54b2d3;
}

.homeContent .optionSelect .optItem:hover {
  border: 1px solid #54b2d3;
  color: #54b2d3;
  cursor: pointer;
}

.homeContent .optionDetails {
  width: 100%;
  height: 100%;
  margin-left: 32px;
  background: #fff;
  border: 1px solid #f4f5f7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 17px rgb(9 20 41 / 5%);
  box-shadow: 2px 2px 17px rgb(9 20 41 / 5%);
  border-radius: 4px;
  display: -moz-box;
  display: flex;
  flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  padding: 32px;
  cursor: pointer;
}

.homeContent .optionDetails .filters {
  display: flex;
}

.homeContent .optionDetails .filters .inClinic {
  width: 100%;
  color: rgba(0, 0, 0, 0.609);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 16px;
  text-align: center;
  cursor: pointer;
}

.homeContent .optionDetails .filters .activeSpan {
  border: 1px solid #54b2d3;
  color: #54b2d3;
}

.homeContent .optionDetails .filtersBox {
  margin-top: 32px;
}

.homeContent .optionDetails .filtersBox .info {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.homeContent .optionDetails .filtersBox .info:hover {
  border: 1px solid #54b2d3;
}

.homeContent .optionDetails .filtersBox .info h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 16px;
}

.homeContent .optionDetails .filtersBox .titleMoney {
  display: flex;
  justify-content: space-between;
}

.homeContent .optionDetails .filtersBox .titleMoney span {
  color: #65cd98;
}

.homeContent .optionDetails .filtersBox .starsDiv {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.homeContent .optionDetails .filtersBox .starsDiv ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 8px;
}

.homeContent .optionDetails .filtersBox .starsDiv ul li {
  margin-right: 4px;
}
